.container{
    margin: 2rem;
}

.grupo{
    width: 15rem;
    height: 2rem;
    background-color: rgb(82, 185, 96);
}

.materia{
    width: 33rem;
    height: 2rem;
    background-color:rgb(82, 185, 96);
}

.uni{
    width: 3rem;
    height: 2rem;
    background-color: rgb(162, 235, 172);
}
.cali{
    width: 3rem;
    height: 2rem;
}

@media only screen and (min-width: 1000px){
    .materia1{
        flex-direction: row !important;
    }
    .materia2{
        flex-direction: row !important;
    }
    .materia3{
        flex-direction: row !important;
    }
    .magr{
        margin-top: 2rem;
    }
    .unidades{
        flex-wrap: nowrap !important;
    }
    .grupo{
        width: 10rem;
    }
    .materia{
        width: 18rem;
    }
    .un{
        display: none;
    }
}